@charset "utf-8";
body{
    max-width: 960px;
    justify-content: center;
    margin: 0 auto;
}
h1{
    font-size: 28px;
    color: #007c6a;
   text-align: center;
    margin: 60px;
}
ul{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

li{
    width: 30%;
    background-color: white;
}
img{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
h2,p{
    background-color: white;
    padding: 10px;
}
h2{
    border-left: 5px solid #007;
    margin-left: 10px;
    font-size: 20px;
    color: #007c6a
    
}
P{
    font-size: 16px;
}

@media screen and (max-width:400px) {
    ul{
        flex-direction: column;
        max-width: 100%;
    }
    li{
        width: 100%;
    }

}